<% content_for :title, t('devise.passwords.new.title') %>

<div class="grid min-h-screen grid-cols-12 overflow-auto">
  <!--  Start: Forgot Password Side Image Panel -->
  <div class="relative hidden bg-[#FFE9D1] dark:bg-[#14181c] lg:col-span-7 lg:block xl:col-span-8 2xl:col-span-9">
    <div class="absolute inset-0 flex items-center justify-center">
      <%= image_tag('auth/auth-hero.png', alt: "Auth Image", loading: "lazy", width: 1000, height: 667, class: "object-cover") %>
    </div>
  </div>
  <!--  End: Forgot Password Side Image Panel -->

  <div class="col-span-12 lg:col-span-5 xl:col-span-4 2xl:col-span-3">
    <div class="flex flex-col items-stretch p-8 lg:p-16">
      <div class="flex items-center justify-between">
        <!--  Start: Logo -->
        <div class="inline">
          <%= image_tag "logo/parts-sync-logo.svg", alt: "Parts Sync", loading: "lazy", class: "hidden dark:inline h-12 w-auto" %>
          <%= image_tag "logo/parts-sync-logo.svg", alt: "Parts Sync", loading: "lazy", class: "inline dark:hidden h-12 w-auto" %>
        </div>
        <!--  End: Logo -->

        <!--  Start: Theme Toggle -->
        <button
          aria-label="Theme toggle"
          data-action="theme-toggle"
          class="btn btn-circle btn-ghost border border-base-content/10 text-base-content/70 hover:bg-base-content/10">
          <iconify-icon icon="lucide:sun" height="20" class="hidden dark:inline"></iconify-icon>
          <iconify-icon icon="lucide:moon" height="20" class="inline dark:hidden"></iconify-icon>
        </button>
        <!--  End: Theme Toggle -->
      </div>
      <h3 class="mt-8 text-center text-xl font-semibold md:mt-12 lg:mt-24">
        <%= t('devise.passwords.new.forgot_password') %>
      </h3>
      <h3 class="mt-2 text-center text-sm text-base-content/70">
        <%= t('devise.passwords.new.instruction') %>
      </h3>
      <div class="mt-6 md:mt-10">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <div class="form-control">
            <%= f.label :email, t('activerecord.attributes.user.email'), class: "label" %>
            <div class="form-control flex flex-row items-center rounded-box border border-base-content/20 ps-3">
              <iconify-icon icon="lucide:mail" class="text-base-content/80 w-4 h-4"></iconify-icon>
              <%= f.email_field :email,
                  placeholder: t('activerecord.attributes.user.email'),
                  class: "input input-sm w-full transition-all focus:border-transparent focus:outline-0 focus:outline-offset-0" %>
            </div>
          </div>

          <div class="mt-4 md:mt-6">
            <%= f.submit t('devise.passwords.new.send_reset_link'),
                class: "btn btn-primary btn-block gap-2 text-base" %>
          </div>
        <% end %>

        <p class="mt-4 text-center text-sm text-base-content/80 md:mt-6">
          <%= t('devise.passwords.new.back_to_login') %>
          <%= link_to t('devise.shared.links.sign_in'),
              new_session_path(resource_name),
              class: "text-primary hover:underline" %>
        </p>
      </div>
    </div>
  </div>
</div>
