<div class="dropdown dropdown-end">
  <%# ユーザーアバター/トリガーボタン %>
  <button tabindex="0" class="btn btn-ghost btn-circle avatar">
    <div class="w-8 rounded-full">
      <% if current_user.profile_picture_url.present? %>
        <%= image_tag current_user.profile_picture_url, alt: "profile" %>
      <% else %>
        <%# デフォルトのアバターアイコン %>
        <div class="flex h-full w-full items-center justify-center bg-primary/10">
          <i class="fa-regular fa-user text-base-content/60"></i>
        </div>
      <% end %>
    </div>
  </button>

  <%# ドロップダウンメニュー %>
  <ul tabindex="0" class="menu dropdown-content menu-sm z-50 mt-3 w-52 rounded-box bg-base-100 p-2 shadow">
    <li class="menu-title text-xs">
      <span>
        <%= "#{current_user.last_name} #{current_user.first_name}" %>
        <span class="block text-xs text-base-content/60"><%= current_user.email %></span>
      </span>
    </li>
    <div class="divider my-0"></div>

    <%# メニュー項目 %>
    <li>
      <%= link_to user_path(current_user) do %>
        <i class="fa-regular fa-user"></i>
        プロフィール
      <% end %>
    </li>
    <li>
      <%= link_to edit_user_registration_path do %>
        <i class="fa-regular fa-gear"></i>
        アカウント設定
      <% end %>
    </li>
    <div class="divider my-0"></div>
    <li>
      <%= button_to destroy_user_session_path, method: :delete, class: "text-error" do %>
        <i class="fa-regular fa-arrow-right-from-bracket"></i>
        ログアウト
      <% end %>
    </li>
  </ul>
</div>
