<%# パスワード再設定メール %>
<p><%= t('.greeting', email: @resource.email) %></p>

<p><%= t('.message') %></p>

<p><%= link_to t('.action'), edit_password_url(@resource, reset_password_token: @token), class: 'button' %></p>

<p><%= t('.ignore') %></p>
<p><%= t('.warning') %></p>
