<h1><%= t('ebay_orders.index.title') %></h1>

<%= button_to t('ebay_orders.index.import_button'), import_orders_ebay_orders_path, method: :post, class: "btn btn-primary" %>

<% if @orders.present? %>
  <h2><%= t('ebay_orders.index.order_count', count: @orders['orders'].count) %></h2>
  <table>
    <thead>
      <tr>
        <th><%= t('ebay_orders.index.order_id') %></th>
        <th><%= t('ebay_orders.index.creation_date') %></th>
        </tr>
    </thead>
    <tbody>
      <% @orders['orders'].each do |order| %>
        <tr>
          <td><%= order['orderId'] %></td>
          <td><%= order['creationDate'] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p><%= t('ebay_orders.index.no_orders') %></p>
<% end %>
