<!DOCTYPE html>
<html data-theme="nexus">
  <head>
    <%= render 'layouts/head' %>
  </head>
  <body>
    <div class="size-full"></div>
      <div class="flex overflow-hidden" data-controller="sidebar">
        <%= render 'components/navigation/leftbar' %>
        <div class="main-wrapper overflow-auto">
          <%= render 'components/navigation/header' %>
          <div class="flex h-full flex-col">
            <%= render "shared/flash_messages" %>
            <div class="content-wrapper p-6">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
