<!DOCTYPE html>
<html lang="<%= I18n.locale %>" data-theme="light">
  <head>
    <%= render 'layouts/head' %>
  </head>

  <body class="flex flex-col min-h-screen bg-[--main-content-background]">
    <%= render 'components/navigation/header' %>
    <main class="flex-grow pt-16">
      <%= render 'shared/flash_messages' %>
      <%= yield %>
    </main>
  </body>
</html>
