<!DOCTYPE html>
<html lang="<%= I18n.locale %>" data-theme="light" data-controller="theme">
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Orders Management" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# SVGファビコン - モダンブラウザ向け %>
    <%= favicon_link_tag 'logo/favicon.svg', type: 'image/svg+xml' %>
    <%# PNGファビコン - レガシーブラウザのフォールバック用 %>
    <%= favicon_link_tag 'logo/favicon.png', type: 'image/png' %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="size-full">
      <div class="main-wrapper overflow-auto w-full min-h-screen">
        <div class="flex h-full flex-col">
          <%= render 'components/navigation/header' %>
          <div class="content-wrapper pt-16">
            <%= render 'shared/flash_messages' %>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
