<!DOCTYPE html>
<html lang="<%= I18n.locale %>" data-theme="light">
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Orders Management" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="size-full">
      <div class="flex overflow-hidden">
        <%= render 'components/navigation/leftbar' %>
        <div class="main-wrapper overflow-auto">
          <div class="flex h-full flex-col">
            <%= render 'components/navigation/header' %>
            <div class="content-wrapper">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
