<!DOCTYPE html>
<html lang="<%= I18n.locale %>" data-theme="light">
  <head>
    <%= render 'layouts/head' %>
  </head>

  <body>
    <div class="size-full">
      <div class="main-wrapper overflow-auto w-full min-h-screen">
        <div class="flex h-full flex-col">
          <%= render 'components/navigation/header' %>
          <div class="content-wrapper pt-16">
            <%= render 'shared/flash_messages' %>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
